<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout.html :: head"></head>
<body class="bg-dark">
    <header th:replace="layout/layout.html :: header"></header>
    <div class="container py-4">
        <div class="card bg-dark text-white">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">

                <h4 class="card-title"><a class="btn btn-primary btn-xs" th:href="@{/form}">Crear cliente</a></h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="bg-dark text-white">id</th>
                        <th class="bg-dark text-white">nombre</th>
                        <th class="bg-dark text-white">apellido</th>
                        <th class="bg-dark text-white">email</th>
                        <th class="bg-dark text-white">fecha</th>
                        <th class="bg-dark text-white">editar</th>
                        <th class="bg-dark text-white">eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cliente: ${clientes}">
                        <td th:text="${cliente.id}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.apellido}"></td>
                        <td th:text="${cliente.email}"></td>
                        <td th:text="${cliente.createAt}"></td>
                        <td><a class="btn btn-primary btn-xs" th:href="@{/form/} + ${cliente.id}">Editar</a></td>
                        <td><a
                                class="btn btn-danger btn-xs"
                                th:href="@{/eliminar/} + ${cliente.id}"
                                onclick="return confirm('¿Estás seguro de eliminar al cliente?');"
                        >Eliminar</a></td>
                    </tr>
                    </tbody>
                </table>
                <nav th:replace="paginator-nav :: paginator"></nav>
            </div>
        </div>
    </div>

    <footer th:replace="layout/layout.html :: footer"></footer>
</body>
</html>